<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Blend.Sdk" version="1.0.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="Infragistics.Themes.MetroDark.Wpf" version="1.0.0" targetFramework="net452" />
  <package id="Infragistics.Themes.MetroLight.Wpf" version="1.0.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="0.1" targetFramework="net452" />
  <package id="Selen.Wpf" version="1.0.0" targetFramework="net452" />
  <package id="Wpf.Themes" version="1.1.0" targetFramework="net452" />
</packages>